*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: var(--color-blue-800);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
}

 .container{
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    justify-content: center;
    width: 850px;
    padding: 1rem;
    
    background-color: var(--color-white);
    border-radius: 20px;
}

@media screen  and (max-width: 768px) and (max-height: 100vh){ 
    .container{
        display: flex;
        flex-direction: column-reverse;
        margin: 2rem;  
    }

    .main-texts{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    }


.main-texts{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 2rem;
    padding: 1rem;
}

.main-texts h1{
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
    text-align: center;
    margin-bottom: 250px ;

}

.main-texts h2{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    font-weight: 400;
    font-size: 15px;
    top: 35%;
    position: relative;

    color: var(--color-blue-700);
}

.banner img{
    width: 375px;
}
